@import 'normalize.css';

h1, h2, h3, p, ul {
    line-height: 1.75rem;
}

h1 {
    font-family: 'mulish', arial;
}

h2, h3, a {
    font-family: 'hind', arial;
}

p, ul {
    font-family: 'work-sans', arial;
}

a:link {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 1rem 0;
    margin: auto;
}

.preview-img {
    max-width: 70%;
}

.section-black {
    background-color: black;
    color: lightgray;
    padding: 2rem;
}

.section-black h1 {
    color: white;
    font-size: 3.5rem;
}

.section-black h2 {
    color: #6333AB;
    font-size: 1.4rem;
}

.section-black h3 {
    color:lightgray;
    font-size: 1rem;
}

.section-gray {
    background-color: #f4f4f4;
    padding: 3rem 2rem 6rem;
}

.section-gray h1 {
    line-height: 3rem;
}

.section-white {
    padding: 3rem 2rem 6rem;
}

.caption {
    font-size: .75rem;
    line-height: 0%;
    margin-bottom: 2rem;
}

@font-face {
    font-family: 'hind';
    src: url('../fonts/hind.woff2') format('woff2'),
        url('../fonts/hind.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mulish';
    src: url('../fonts/mulish.woff2') format('woff2'),
        url('../fonts/mulish.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'work-sans';
    src: url('../fonts/work-sans.woff2') format('woff2'),
        url('../fonts/work-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* -------------------------HEADER------------------------- */

header.section-black {
    padding: 0 1rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

header h3 {
    padding: .25rem 1rem;
}

.nav-bar h3 {
    font-size: 1.5rem;
}

#burger {
    width: 1.5rem;
    padding: 1rem;
    display: block;
}

#burger:hover {
    opacity: 70%;
}

.nav-bar h3:hover {
    opacity: 70%;
}

.top-nav a {
    display: block;
}

#my-links, #my-works {
    display: none;
    background-color: black;
}

#my-links {
    padding-bottom: 2rem;
}

.nav-item, #my-works a {
    padding: 1rem;
    margin: 3rem;
    color: lightgray;
    line-height: 3rem;
}

#my-works a {
    margin-left: 4rem;
    font-size: .9rem;
}

#my-links a:hover{
    opacity: 70%;
}

/* -------------------------MAIN------------------------- */

#home-intro-block {
    display: grid;
    grid-template-columns: 100%;
    max-width: 60rem;
    margin: auto;
}

#home-pic {
    box-shadow: 30px 30px #6333AB;
    margin: 3rem 0;
    padding: 0;
    opacity: 80%;
}

#home-intro-text {
    padding-right: 0rem;
}

.card {
    background-color: white;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 60rem;
}

.card a {
    color: black;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border: 2px solid #6333AB;
    border-radius: 5px;
    background-color: white;
    color: #6333AB;
    transition: all 0.3s;
    cursor: pointer; 
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
  
.button span:after {
    content: '\276F';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.3s;
}
  
.button:hover span {
    padding-right: 20px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    padding: 1rem 1.5rem;
}

hr {
    border: 2px solid #6333AB;
    width: 68%;
    margin-left: -6rem;
    margin-bottom: 3rem;
}

#logo {
    max-width: 30%;
}

/* >480px */
@media screen and (min-width: 30rem) {
    .section-black{
        padding: 3rem 5rem;
    }
    .card {
        margin: 0 auto;
        margin-top: 3rem;
    }
    
    .section-gray, .section-white{
        padding: 3rem 3rem 6rem;
    }
}

/* >820px */
@media screen and (min-width: 51.25rem) {
    .section-black{
        padding: 4rem 7rem;
    }

    header.section-black {
        padding: 0 3rem;
    }

    .section-gray, .section-white{
        padding: 3rem 5rem 6rem;
    }
}

/* >960px */
@media screen and (min-width: 60rem) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #home-intro-block {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 60rem;
        margin: auto;
    }
    
    #home-pic {
        position: relative;
        top: -5rem;
    }

    #home-intro-text {
        padding-right: 3rem;
    }
    
    .card h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .container {
        max-width: 60rem;
        margin: auto;
    }

    .nav-container {
        max-width: 62rem;
        margin: auto;
    }
    
    .responsive {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .responsive-70 {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .container-text {
        max-width: 70%;
    }
    
    #challenge {
        font-size: 1.5rem;
    }

    #logo {
        margin-top: 5rem;
    }

    .gap-right {
        margin-right: 4rem;
    }

    .gap-left {
        margin-left: 4rem;
    }
}

/* -------------------------FOOTER------------------------- */

.buttons{
    display: flex;
    justify-content: flex-end;
}

.social-button {
    background-color: #9871D5;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    margin: 1rem;
}

.social-button:hover {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
}

.social-button img {
    width: 70%;
    padding: .5rem 0;
}

#linkedin-button img {
    width: 60%;
}